[mysqld]
user = root
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data

#pid文件路径
pid-file = /usr/local/mysql/data/mysql.pid

#错误日志路径
log_error = /usr/local/mysql/data/error.log

#一般日志
general_log = 1
general_log_file = /usr/local/mysql/data/general.log